$old-mauve: #5b2333;
$dark-slate-gray: #265054;
$midnight-green-eagle: #033b4f;
$platinum: #ebebeb;

$breakpoints: (
	'xs': 480px,
	'sm': 600px,
	'md': 720px,
	'lg': 960px,
	'xl': 1200px,
);

@mixin xs {
	@media (max-width: map-get($breakpoints, 'xs')) {
		@content;
	}
}

@mixin sm {
	@media (max-width: map-get($breakpoints, 'sm')) {
		@content;
	}
}

@mixin md {
	@media (max-width: map-get($breakpoints, 'md')) {
		@content;
	}
}

@mixin lg {
	@media (max-width: map-get($breakpoints, 'lg')) {
		@content;
	}
}

@mixin xl {
	@media (max-width: map-get($breakpoints, 'xl')) {
		@content;
	}
}

@mixin breakpoint($bp: 0) {
	@media (max-width: $bp) {
		@content;
	}
}

.App {
	width: 100%;
	position: relative;

	.callBtn {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		background-color: #fff;
		z-index: 20;
		bottom: 5rem;
		right: 0.5rem;
		border-radius: 20px;
		padding: 0.5rem;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
		color: $dark-slate-gray;
		text-decoration: none;
		transition: 0.2s ease;

		&:hover {
			transform: scale(1.1);
		}

		.icon {
			font-size: 1.5rem;
			color: $dark-slate-gray;
		}
	}

	.container {
		width: 100%;
		max-width: 1300px;
		padding: 0 1rem;
		height: 100%;

		@include sm() {
			padding: 0 0.5rem;
		}
	}

	.header {
		display: flex;
		justify-content: center;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 20;
		height: 3.5rem;
		background: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0)
		);
		transition: 0.8s ease;

		@include sm() {
			height: 3rem;
		}

		&.solid {
			background: $dark-slate-gray;
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
			height: 3.5rem;

			// .logo {
			// 	h1 {
			// 		font-size: 1.5rem;

			// 		img {
			// 			width: 0.75rem;
			// 			height: 0.75rem;
			// 		}
			// 	}

			// 	p {
			// 		font-size: 0.65rem;
			// 	}
			// }
		}

		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.logo {
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: 1rem;
				height: 1rem;
				color: white;

				@include sm() {
					height: 0.75rem;
					width: 0.75rem;
				}
			}

			@include sm() {
				width: 75%;
			}

			h1 {
				font-weight: 400;
				color: $platinum;
				margin-right: 0.25rem;
				margin-bottom: 0.25rem;
				transition: 0.2s ease;

				@include lg() {
					font-size: 1.3rem;
				}

				@include sm() {
					font-size: 1.5rem;
					// font-weight: 500;
					// letter-spacing: 0.05em;
				}
			}
		}

		.navContainer {
			width: 60%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			position: relative;
		}

		.navLinks {
			width: 80%;
			list-style: none;
			display: flex;
			justify-content: space-between;
			align-items: center;

			@include md() {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100vh;
				flex-direction: column;
				padding: 5rem 2rem 10rem;
				background-color: rgba(235, 235, 235, 0.9);
				transform: translateX(100vw);
				transition: 0.3s ease;

				&.active {
					transform: translateX(0);
				}
			}

			.navLink {
				text-decoration: none;
				display: inline-block;
				color: white;
				font-size: 1.1rem;
				border: 0;
				cursor: pointer;
				position: relative;

				@include md() {
					color: $dark-slate-gray;
					font-size: 1.5rem;
				}

				&::after {
					position: absolute;
					left: 50%;
					top: 100%;
					content: '';
					background-color: $platinum;
					height: 2px;
					border-radius: 5px;
					width: 100%;
					transform: translateX(-50%) scaleX(0);
					transition: 0.2s ease-in-out;
				}

				&.active,
				&:hover {
					&::after {
						transform: translateX(-50%) scaleX(1);
					}
				}
			}

			.contactBtn {
				display: inline-block;
				background-color: $platinum;
				color: $dark-slate-gray;
				padding: 0.5rem 0.75rem;
				transition: 0.2s ease;
				border-radius: 5px;
				text-decoration: none;
				border: 0;
				font-size: 1.1rem;
				box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);

				@include md() {
					background-color: $dark-slate-gray;
					color: $platinum;
					font-size: 1.5rem;
				}

				&:hover {
					transform: scale(1.05);
				}
			}
		}

		.hamburger {
			width: 2.25rem;
			height: 2.25rem;
			display: none;
			cursor: pointer;

			@include md() {
				display: flex;
				position: absolute;
				top: 50%;
				right: 1rem;
				transform: translateY(-50%);
				z-index: 50;
			}

			@include sm() {
				right: 0.5rem;
				width: 2rem;
				height: 2rem;
			}

			.topLine,
			.middleLine,
			.bottomLine {
				width: 100%;
				height: 2.25px;
				background-color: $platinum;
				border-radius: 5px;
				transition: 0.3s ease-in-out;
			}

			.topLine {
				position: absolute;
				top: 25%;
				left: 50%;
				transform: translate(-50%, -25%);
			}
			.middleLine {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			.bottomLine {
				position: absolute;
				top: 75%;
				left: 50%;
				transform: translate(-50%, -75%);
			}

			&.active {
				.topLine {
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(45deg);
					background-color: $dark-slate-gray;
				}

				.middleLine {
					opacity: 0;
					background-color: $dark-slate-gray;
				}

				.bottomLine {
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(-45deg);
					background-color: $dark-slate-gray;
				}
			}
		}
	} ///// Header

	.page {
		width: 100%;
		min-height: 100vh;
		display: flex;
		justify-content: center;
		position: relative;
		background-color: $platinum;
		scroll-margin-top: 3.5rem;

		.container {
			min-height: calc(100vh - 5rem);

			@include sm() {
				margin-top: 3rem;
				min-height: calc(100vh - 3rem);
			}
		}
	}

	.card {
		// backdrop-filter: blur(7px) saturate(180%);
		// -webkit-backdrop-filter: blur(7px) saturate(180%);
		// background-color: rgba(198, 198, 198, 0.18);
		// border-radius: 12px;
		// border: 1px solid rgba(255, 255, 255, 0.125);

		backdrop-filter: blur(15px) saturate(180%);
		-webkit-backdrop-filter: blur(15px) saturate(180%);
		background-color: rgba(38, 80, 84, 0.6);
		border-radius: 12px;
		border: 1px solid rgba(255, 255, 255, 0.125);
	}

	#home {
		background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
			url(./assets/images/home-bg.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		.container {
			display: flex;
			justify-content: center;
			align-items: center;

			@include md() {
				align-items: flex-start;
				margin-top: 7rem;
			}
		}

		.homeContent {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;
			flex-wrap: wrap;

			@include md() {
				flex-direction: column;
			}
		}

		.homeInfo {
			flex-basis: 50%;
			color: $platinum;
			padding: 2rem;

			@include md() {
				width: 100%;
				order: 2;
			}
		}

		.homeImgContainer {
			flex-basis: 50%;
			height: 100%;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			@include md() {
				order: 1;
			}

			@keyframes scaleIn {
				0% {
					transform: scale(0);
				}

				100% {
					transform: scale(1);
				}
			}

			img {
				width: 350px;
				height: 350px;
				border-radius: 50%;
				animation: scaleIn 1.5s;
				box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);

				@include md() {
					width: 250px;
					height: 250px;
				}
			}
		}
	} ///// Home

	#services {
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		h1 {
			text-align: center;
		}

		.firstResponder {
			position: relative;
			width: 100%;
			max-width: 800px;
			height: 30rem;
			border-radius: 30px;
			box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
			padding: 2rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			color: #fff;
			margin: 2rem 0;
			overflow: hidden;
			z-index: 1;

			.bg {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				height: 100%;
				width: 100%;
				background-image: linear-gradient(
						to right,
						rgba(0, 0, 0, 0.3),
						rgba(0, 0, 0, 0)
					),
					url(./assets/images/policecar.jpg);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				z-index: -1;
				transition: 1s ease;
			}

			&:hover {
				.bg {
					transform: scale(1.05);
				}
			}

			p {
				font-size: 1.2rem;
				margin-top: 0.5rem;
			}

			.btn {
				color: $dark-slate-gray;
				background-color: #fff;
				width: auto;
				display: inline-block;
				width: 12rem;
				text-align: center;
				text-decoration: none;
				font-size: 1.25rem;
				border-radius: 30px;
				padding: 1rem 0.5rem;
				margin-top: 1rem;
				transition: 0.2s ease;
				border: 0;

				&:hover {
					transform: scale(1.05);
				}
			}
		}

		.cardsContainer {
			width: 100%;
			text-align: center;
			border: 0;
			background-color: transparent;
			margin-bottom: 5rem;

			.cards {
				display: flex;
				justify-content: center;
				gap: 1rem;
				flex-wrap: wrap;
			}

			.servicesCard {
				width: 150px;
				height: 150px;
				background-color: $dark-slate-gray;
				border-radius: 20px;
				color: #fff;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 1rem;
				box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

				div {
					display: flex;
					align-items: center;
				}

				.icon {
					font-size: 2rem;
					color: #fff;
				}
			}
		}
	}

	.serviceAreasWrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $dark-slate-gray;
		min-height: 10rem;
		max-height: auto;
		padding: 1rem 0 2rem;

		h1 {
			text-align: center;
			color: #fff;
			font-weight: 400;
			text-decoration: underline;
			margin-bottom: 1rem;
		}

		.serviceAreas {
			list-style: none;
			display: flex;
			justify-content: center;
			gap: 1rem;
			flex-wrap: wrap;

			li {
				display: flex;
				align-items: center;
				color: $dark-slate-gray;
				font-size: 1.2rem;
				background-color: #fff;
				padding: 0.25rem 0.5rem;
				border-radius: 20px;
			}
		}
	}

	.footer {
		width: 100%;
		height: 5rem;
		background-color: $dark-slate-gray;
		display: flex;
		justify-content: center;

		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		p {
			color: $platinum;
		}

		.images {
			width: 50%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 0.5rem;

			.eoLogo {
				width: 3rem;
			}

			.mrLogo {
				width: 7rem;
			}
		}
	} ///// Footer

	.contactForm {
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.75);
		z-index: 25;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.2s ease;
		opacity: 0;
		visibility: hidden;

		&.active {
			opacity: 1;
			visibility: visible;
		}

		.contactContent {
			background-color: $platinum;
			width: 100%;
			max-width: 1000px;
			margin: 0 1rem;
			border-radius: 30px;
			height: 75%;
			display: flex;
			align-items: center;
			position: relative;
			overflow: hidden;
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);

			@include md() {
				flex-direction: column;
				height: 90%;
			}

			.closeBtn {
				display: inline-block;
				position: absolute;
				top: 0;
				right: 0;
				background-color: transparent;
				color: $dark-slate-gray;
				border: 0;
				font-size: 2rem;
				padding: 1rem;
				cursor: pointer;
				transition: 0.2s ease;

				&:hover {
					transform: scale(1.1);
				}

				@include md() {
					color: white;
					z-index: 25;
				}
			}
		}

		.form {
			flex-basis: 50%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 0.5rem;
			padding: 2rem;
			position: relative;
			overflow: hidden;
			background-color: $dark-slate-gray;

			@include md() {
				width: 100%;
				flex-basis: 50%;
			}

			h2 {
				color: $platinum;
				text-align: center;
			}

			input {
				border-radius: 15px;
				height: 1.75rem;
				padding: 0 0.5rem;
				font-family: 'Poppins', sans-serif;
				border: 0;
				background-color: $platinum;
				caret-color: $dark-slate-gray;
				outline: 0;
			}

			textarea {
				border-radius: 15px;
				padding: 0.5rem;
				font-family: 'Poppins', sans-serif;
				border: 0;
				background-color: $platinum;
				caret-color: $dark-slate-gray;
				outline: 0;
			}

			button {
				font-family: 'Poppins', sans-serif;
				width: 5rem;
				height: 2.5rem;
				border-radius: 15px;
				margin: 0 auto;
				border: 0;
				background-color: $platinum;
				color: $dark-slate-gray;
				transition: 0.2s ease;

				&:hover {
					transform: scale(1.05);
				}
			}
		}

		.contactInfo {
			flex-basis: 50%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			height: 100%;
			padding: 3rem 2rem 2rem;

			@include md() {
				height: 50%;
				padding: 1rem 1rem;
			}

			.imgContainer {
				width: 13rem;
				height: 13rem;
				border-radius: 50%;
				overflow: hidden;
				box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
				border: 7px solid $dark-slate-gray;
				margin-bottom: 2rem;

				@include md() {
					height: 10rem;
					width: 10rem;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.contactDiv {
				width: auto;
				min-width: 15rem;
				display: flex;
				justify-content: flex-start;
				align-items: center;

				p {
					margin-left: 1rem;
				}
			}
		}
	} ///// Contact Form
}
